*.iml
.idea
*.log
my-springboot-api/.idea
my-springboot-api/target
my-zuul-router/target
my-zuul-router/.idea
my-eureka-server/target
my-eureka-server/.idea
springbootdemo-bookmark-service/target
springbootdemo-bookmark-service/.idea
gatling-test/target
gatling-test/.idea
